<section id="projects">
  <h2 data-aos="zoom-in" data-aos-delay="200">Projects</h2>
  <div class="row" data-aos="fade-up">
    <div class="card" data-aos="fade-up" data-aos-delay="100">
      <img src="../../assets/img/employee.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Employee Management</h5>
        <p class="card-text">
          Created in Angular Material for employee management.
        </p>
        <div class="button-wrapper">
          <a
            href="https://classy-tartufo-3eeb9c.netlify.app/"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>

   
    <div class="card" data-aos="fade-up" data-aos-delay="300">
      <img src="../../assets/img/bmi.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">BMI Calculator</h5>
        <p class="card-text">Body Mass Index calculator, created in Angular.</p>
        <div class="button-wrapper">
          <a
            href="https://adorable-dolphin-1ee1dc.netlify.app/"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="300">
      <img src="../../assets/img/converter.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Currency Converter</h5>
        <p class="card-text">Currency Converter, created in Angular.</p>
        <div class="button-wrapper">
          <a
            href="https://fabulous-tapioca-4339de.netlify.app/"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="400">
      <img src="../../assets/img/dice.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Dice Rolling Game</h5>
        <p class="card-text">
          A simple dice game, you win if two dice are the same.
        </p>
        <div class="button-wrapper">
          <a
            href="https://regal-clafoutis-0abcef.netlify.app/"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="500">
      <img
        src="../../assets/img/todo.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Task List</h5>
        <p class="card-text">Create a task list, made in Angular.</p>
        <div class="button-wrapper">
          <a
            href="https://regal-squirrel-b44c60.netlify.app/"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="600">
      <img src="../../assets/img/piano.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Piano</h5>
        <p class="card-text">
          A piano that plays sounds, made in Angular.
        </p>
        <div class="button-wrapper">
          <a
            href="https://marvelous-clafoutis-7c02e4.netlify.app/"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="700">
      <img
        src="../../assets/img/fractales.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Fractals</h5>
        <p class="card-text">A system for creating fractals.</p>
        <div class="button-wrapper">
          <a
            href="https://resilient-eclair-6c0364.netlify.app/"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="800">
      <img src="../../assets/img/calc.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Calculator</h5>
        <p class="card-text">A basic calculator.</p>
        <div class="button-wrapper">
          <a
            href="https://calculadorabasicaa.netlify.app"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
