<section id="projects">
  <h2 data-aos="zoom-in" data-aos-delay="200">Projects</h2>
  <div class="row" data-aos="fade-up">
    <div class="card" data-aos="fade-up" data-aos-delay="100">
      <img src="../../assets/img/admiemp.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Employee Management</h5>
        <p class="card-text">
          Created in Angular Material for employee management.
        </p>
        <div class="button-wrapper">
          <a
            href="https://adminempleados.netlify.app"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="200">
      <img src="../../assets/img/test.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Testing Angular Material</h5>
        <p class="card-text">Series of tests conducted in Angular Material.</p>
        <div class="button-wrapper">
          <a
            href="https://testingangularmaterial.netlify.app"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="300">
      <img src="../../assets/img/bmi.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">BMI Calculator</h5>
        <p class="card-text">Body Mass Index calculator, created in Angular.</p>
        <div class="button-wrapper">
          <a
            href="https://bmicalculatt.netlify.app"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="400">
      <img src="../../assets/img/dados.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Dice Rolling Game</h5>
        <p class="card-text">
          A simple dice game, you win if two dice are the same.
        </p>
        <div class="button-wrapper">
          <a
            href="https://tirarddados.netlify.app"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="500">
      <img
        src="../../assets/img/todolist.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Task List</h5>
        <p class="card-text">Create a task list, made in Angular.</p>
        <div class="button-wrapper">
          <a
            href="https://listatareasss.netlify.app"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="600">
      <img src="../../assets/img/piano.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Rainbow Piano</h5>
        <p class="card-text">
          A piano that plays sounds with rainbow colors, made in Angular.
        </p>
        <div class="button-wrapper">
          <a
            href="https://pianoarcoiris.netlify.app"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="700">
      <img
        src="../../assets/img/fractales.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Fractals</h5>
        <p class="card-text">A system for creating snowflake-style fractals.</p>
        <div class="button-wrapper">
          <a
            href="https://sistemafractales.netlify.app"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>

    <div class="card" data-aos="fade-up" data-aos-delay="800">
      <img src="../../assets/img/calc.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Calculator</h5>
        <p class="card-text">A basic calculator.</p>
        <div class="button-wrapper">
          <a
            href="https://calculadorabasicaa.netlify.app"
            target="_blank"
            class="btn fill btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
