<!-- Laboral Experience -->
<h2 class="animate__animated animate__fadeIn">Work Experience</h2>
<section id="explab">
  <div class="contenedor">
    <div class="timeline caption wow animate__animated animate__fadeIn">
      <div class="timeline-item timeline-item-alt animate__animated animate__fadeInUp">
        <div class="timeline-icon neon animate__animated animate__zoomIn">
          <i class="fas fa-star"></i>
        </div>
        <div class="timeline-content animate__animated animate__fadeInLeft">
          <h4>Angular and Spring Developer</h4>
          <h6>Freelance | 2022 - Present</h6>
          <br />
          <button
            class="btn btn-rounded btn-info collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#angularSpring"
            aria-expanded="false"
            aria-controls="angularSpring"
            
          >
            See More
          </button>
          <div class="collapse animate__animated animate__fadeInUp" id="angularSpring" >
            <div id="letter" class="card card-body">
              <ul>
                <li>
                  Developing web applications using Angular and Spring
                  frameworks.
                </li>
                <li>
                  Implementing and maintaining features in both frontend
                  (Angular) and backend (Spring).
                </li>
                <li>
                  Collaborating with clients to understand project requirements
                  and specifications.
                </li>
                <li>
                  Creating and optimizing database structures to support
                  application functionalities.
                </li>
                <li>
                  Ensuring the security and performance of web applications.
                </li>
                <li>
                  Utilizing version control systems for codebase management.
                </li>
                <li>
                  Participating in Agile development methodologies, such as
                  Scrum.
                </li>
                <li>
                  Conducting code reviews and providing constructive feedback to
                  team members.
                </li>
                <li>
                  Keeping up-to-date with the latest trends and best practices
                  in Angular and Spring development.
                </li>
                <li>
                  Troubleshooting and resolving technical issues in a timely
                  manner.
                </li>
                <li>
                  Adhering to project timelines and delivering high-quality
                  solutions.
                </li>
                <li>
                  Continuous learning and self-improvement to enhance skills in
                  Angular, Spring, and related technologies.
                </li>
                <li>
                  Building and maintaining positive client relationships through
                  effective communication and project delivery.
                </li>
                <li>
                  Adapting to evolving project requirements and incorporating
                  new technologies when necessary.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-item" >
        <div class="timeline-icon neon animate__animated animate__zoomIn">
          <i class="fas fa-star"></i>
        </div>
        <div class="timeline-content animate__animated animate__fadeInLeft">
          <h4>ICT Reference Teacher</h4>
          <h6>Various schools in General Roca and Villa Regina</h6>
          <br />
          <button
            class="btn btn-rounded btn-info collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#tic"
            aria-expanded="false"
            aria-controls="tic"
            
          >
            See More
          </button>
          <div class="collapse animate__animated animate__fadeInUp" id="tic" >
            <div id="letter" class="card card-body">
              <ul>
                <li>Installation of educational software for students.</li>
                <li>Resolution of technical issues.</li>
                <li>Teaching basic computer skills to students.</li>
                <li>
                  Development and implementation of technological strategies to
                  improve efficiency.
                </li>
                <li>
                  Evaluation and selection of software and hardware to meet
                  organizational needs.
                </li>
                <li>
                  Advising on technology adoption to enhance administrative
                  processes.
                </li>
                <li>
                  Administration and maintenance of computer systems, networks,
                  and servers.
                </li>
                <li>
                  Implementation of cybersecurity measures to protect
                  information and systems.
                </li>
                <li>
                  Project management and coordination with teachers from other
                  areas.
                </li>
                <li>
                  Training employees in the use of technology and organizational
                  software.
                </li>
                <li>
                  Monitoring and maintaining the quality of technical support
                  services.
                </li>
                <li>
                  Implementation of ICT solutions to improve communication
                  within the organization.
                </li>
                <li>
                  Researching and evaluating new technologies and trends for
                  potential adoption.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-item timeline-item-alt" >
        <div class="timeline-icon neon animate__animated animate__zoomIn">
          <i class="fas fa-star"></i>
        </div>
        <div class="timeline-content animate__animated animate__fadeInLeft">
          <h4>Computer Science Teacher</h4>
          <h6>School No. 52, Villa Regina</h6>
          <br />
          <button
            class="btn btn-rounded btn-info collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#pinf"
            aria-expanded="false"
            aria-controls="pinf"
            
          >
            See More
          </button>
          <div class="collapse animate__animated animate__fadeInUp" id="pinf" >
            <div id="letter" class="card card-body">
              <ul>
                <li>
                  Teaching students fundamental computer skills and emerging
                  technologies.
                </li>
                <li>
                  Planning and preparing lessons and teaching activities in the
                  field of computer science.
                </li>
                <li>
                  Developing educational materials, including presentations,
                  study guides, and assessments.
                </li>
                <li>
                  Teaching computer concepts and skills, such as programming,
                  databases, operating systems, cybersecurity, and web design.
                </li>
                <li>
                  Evaluating student performance through exams, assignments, and
                  projects, providing constructive feedback.
                </li>
                <li>
                  Identifying students' educational needs and adapting teaching
                  methods to meet them.
                </li>
                <li>
                  Fostering the development of critical thinking and
                  problem-solving skills in students.
                </li>
                <li>Promoting ethical and responsible use of technology.</li>
                <li>
                  Guiding and counseling students regarding their educational
                  path and careers in computer science.
                </li>
                <li>
                  Participating in the development and review of curricula and
                  training programs in computer science.
                </li>
                <li>
                  Maintaining and updating computer knowledge through continuous
                  education and research.
                </li>
                <li>
                  Collaborating with other teachers and educational staff in
                  interdisciplinary projects and extracurricular activities
                  related to computer science.
                </li>
                <li>
                  Engaging in community outreach activities to promote education
                  in computer science and technology.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-item" >
        <div class="timeline-icon neon animate__animated animate__zoomIn">
          <i class="fas fa-star"></i>
        </div>
        <div class="timeline-content animate__animated animate__fadeInLeft">
          <h4>3D Design, Printing, and Sales</h4>
          <h6>Freelance | 2016 - 2021</h6>
          <br />
          <button
            class="btn btn-rounded btn-info collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#d3d"
            aria-expanded="false"
            aria-controls="d3d"
            
          >
            See More
          </button>
          <div class="collapse animate__animated animate__fadeInUp" id="d3d" >
            <div id="letter" class="card card-body">
              <ul>
                <li>
                  Designed 3D models using modeling and 3D scanning software.
                </li>
                <li>Prepared 3D print files for model production.</li>
                <li>
                  Managed and maintained 3D printers and related equipment for
                  model production.
                </li>
                <li>Executed 3D printing for clients and personal projects.</li>
                <li>
                  Performed finishing and post-processing on 3D printed models
                  to enhance appearance and functionality.
                </li>
                <li>
                  Developed and managed catalogs of 3D models for sales and
                  product promotion.
                </li>
                <li>
                  Engaged with clients and suppliers to identify business
                  opportunities and establish collaborative relationships.
                </li>
                <li>
                  Utilized social media and digital advertising for the
                  promotion and sale of 3D models.
                </li>
                <li>
                  Supervised production and inventory of 3D models, managing
                  customer orders and shipments.
                </li>
                <li>
                  Researched and adopted new technologies and techniques in 3D
                  design and printing to improve production quality and
                  efficiency.
                </li>
                <li>
                  Maintained and updated knowledge and skills in 3D design,
                  printing, and sales through continuous education and research.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-item timeline-item-alt" >
        <div class="timeline-icon neon animate__animated animate__zoomIn">
          <i class="fas fa-star"></i>
        </div>
        <div class="timeline-content animate__animated animate__fadeInLeft">
          <h4>System Administrator</h4>
          <h6>La Picassa S.A. Cipolletti – 2014-2016</h6>
          <br />
          <button
            class="btn btn-rounded btn-info collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#admsis"
            aria-expanded="false"
            aria-controls="admisis"
            
          >
            See More
          </button>
          <div class="collapse animate__animated animate__fadeInUp" id="admsis" >
            <div id="letter" class="card card-body">
              <ul>
                <li>Managed and administered database queries.</li>
                <li>
                  Installed, maintained, and administered the closed camera
                  system.
                </li>
                <li>
                  Installed, configured, and maintained operating systems and
                  enterprise software.
                </li>
                <li>
                  Administered and configured servers and network services,
                  including database management and network security. Created
                  modules for data visualization.
                </li>
                <li>
                  Implemented cybersecurity measures, including managing
                  security patches, firewalls, and malware detection and removal
                  software.
                </li>
                <li>
                  Planned and executed data backup and recovery tasks to ensure
                  data integrity. Established cloud support for administrative
                  data.
                </li>
                <li>
                  Managed user accounts and access permissions to network
                  resources, including user account management and permission
                  configuration.
                </li>
                <li>
                  Monitored and analyzed system and network performance to
                  detect and proactively resolve issues.
                </li>
                <li>
                  Planned and implemented cybersecurity policies and procedures
                  to protect organizational information and resources.
                </li>
                <li>
                  Documented IT infrastructure, including configurations,
                  network diagrams, and maintenance procedures.
                </li>
                <li>
                  Provided training and education to staff on the proper use of
                  systems and enterprise applications.
                </li>
                <li>
                  Researched and evaluated new technologies and
                  software/hardware solutions to enhance organizational
                  efficiency and productivity.
                </li>
                <li>
                  Collaborated with other departments and service providers to
                  ensure service continuity and problem resolution.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-item" >
        <div class="timeline-icon neon animate__animated animate__zoomIn">
          <i class="fas fa-star"></i>
        </div>
        <div class="timeline-content animate__animated animate__fadeInLeft">
          <h4>Computer Technician</h4>
          <h6>Self-Employed | 2011 - Present</h6>
          <br />
          <button
            class="btn btn-rounded btn-info collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#teccompu"
            aria-expanded="false"
            aria-controls="teccompu"
            
          >
            See More
          </button>
          <div class="collapse animate__animated animate__fadeInUp" id="teccompu" >
            <div id="letter" class="card card-body">
              <ul>
                <li>
                  Installed and configured hardware and software for computer
                  systems.
                </li>
                <li>
                  Conducted preventive and corrective maintenance on computer
                  equipment to ensure proper functionality.
                </li>
                <li>
                  Provided technical assistance and user support to resolve
                  issues, inquiries, or difficulties in using computer
                  equipment.
                </li>
                <li>
                  Implemented cybersecurity measures, including antivirus
                  installation, firewalls, and malware detection and removal
                  software.
                </li>
                <li>Performed data backups for users to prevent data loss.</li>
                <li>
                  Recovered data in case of system failures or data loss
                  incidents.
                </li>
                <li>
                  Conducted user training and education on the correct use of
                  computer equipment and applications.
                </li>
                <li>Configured wired and wireless computer networks.</li>
                <li>
                  Installed and configured servers and other network devices.
                </li>
                <li>Resolved issues in computer networks.</li>
                <li>Configured and managed operating systems.</li>
                <li>
                  Installed and configured software and applications specific to
                  businesses and organizations.
                </li>
                <li>
                  Diagnosed and repaired hardware and software issues in
                  computer equipment.
                </li>
                <li>
                  Updated computer equipment and software to ensure proper
                  functionality.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
