<section id="education">
  <!-- Educations -->
  <h2 class="animate__animated animate__fadeUp">Education</h2>
  <div class="row">
    <div class="card mb-7 animate__animated animate__fadeUp">
      <div class="card-header">
        <div class="neon"><i class="fas fa-star"></i></div>
      </div>
      <div class="card-body">
        <h5 class="animate__animated animate__fadeUp">Computer Technician</h5>
        <h6 class="animate__animated animate__fadeUp">CET N° 1 (formerly ENET N°1)</h6>
        <p class="animate__animated animate__fadeUp">Secondary Education and Computer Technician</p>
      </div>
    </div>
    <div class="card mb-7 animate__animated animate__fadeUp">
      <div class="card-header">
        <div class="neon"><i class="fas fa-star"></i></div>
      </div>
      <div class="card-body">
        <h5 class="animate__animated animate__fadeUp">Computer Science</h5>
        <h6 class="animate__animated animate__fadeUp">National University of Comahue</h6>
        <p class="animate__animated animate__fadeUp">
          University Education: Bachelor's degree in Computer Science
          (3rd Year - Incomplete)
        </p>
      </div>
    </div>
    
  </div>

  <h2 class="animate__animated animate__fadeUp">Training Courses</h2>
  <h3 class="animate__animated animate__fadeUp">Udemy Courses</h3>
  <div class="row">
    <div class="card mb-7 animate__animated animate__fadeUp">
      <div class="card-header">
        <div class="neon"><i class="fas fa-star"></i></div>
      </div>
      <div class="card-body">
        <h5 class="animate__animated animate__fadeUp">Universidad Java</h5>
        <h6 class="animate__animated animate__fadeUp">De Cero a Experto - Más Completo +106 hrs</h6>
        <a href="https://www.udemy.com/certificate/UC-e742d432-3c2b-4f58-aa5f-69009f6e76e3/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
      </div>
    </div>


    <div class="card mb-7 animate__animated animate__fadeUp">
      <div class="card-header">
        <div class="neon"><i class="fas fa-star"></i></div>
      </div>
      <div class="card-body">
        <h5 class="animate__animated animate__fadeUp">Java and Spring Framework for Beginners with Spring Boot</h5>
        <a href="https://www.udemy.com/certificate/UC-8d3a7005-4eb8-4383-8f00-fd3443acdcea/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
      </div>
    </div>
  
  

  <div class="card mb-7 animate__animated animate__fadeUp">
    <div class="card-header">
      <div class="neon"><i class="fas fa-star"></i></div>
    </div>
    <div class="card-body">
      <h5 class="animate__animated animate__fadeUp">Get Interview Ready with SpringData JPA & Hibernate Concepts</h5>
      <a href="https://www.udemy.com/certificate/UC-4fc6e1b5-0e1b-4d52-92e2-9e98f0400b3f/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
    </div>
  </div>


  <div class="card mb-7 animate__animated animate__fadeUp">
    <div class="card-header">
      <div class="neon"><i class="fas fa-star"></i></div>
    </div>
    <div class="card-body">
      <h5 class="animate__animated animate__fadeUp">Master in JavaScript: Learn JS, jQuery, Angular, NodeJS</h5>
      <a href="https://www.udemy.com/certificate/UC-f10017ca-52ed-442a-9284-c22990a1d469/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
    </div>
  </div>

  <div class="card mb-7 animate__animated animate__fadeUp">
    <div class="card-header">
      <div class="neon"><i class="fas fa-star"></i></div>
    </div>
    <div class="card-body">
      <h5 class="animate__animated animate__fadeUp">Learn Creative Coding with Vanilla JavaScript</h5>
      <a href="https://www.udemy.com/certificate/UC-33bf3851-5c0a-4657-80e6-7e89677e513c/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
    </div>
  </div>

<div class="card mb-7 animate__animated animate__fadeUp">
  <div class="card-header">
    <div class="neon"><i class="fas fa-star"></i></div>
  </div>
  <div class="card-body">
    <h5 class="animate__animated animate__fadeUp">How the Internet Works & the Web Development Process</h5>
    <a href="https://www.udemy.com/certificate/UC-61887e65-89d9-42a3-8989-5b9b861a46dc/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
  </div>
</div>

<div class="card mb-7 animate__animated animate__fadeUp">
  <div class="card-header">
    <div class="neon"><i class="fas fa-star"></i></div>
  </div>
  <div class="card-body">
    <h5 class="animate__animated animate__fadeUp">Learn to Host Multiple Domains on one Virtual Server</h5>
    <a href="https://www.udemy.com/certificate/UC-08697f37-cd7e-4c09-9c40-e5cdd765f419/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
  </div>
</div>

<div class="card mb-7 animate__animated animate__fadeUp">
  <div class="card-header">
    <div class="neon"><i class="fas fa-star"></i></div>
  </div>
  <div class="card-body">
    <h5 class="animate__animated animate__fadeUp">Introduction to Domain Names & Web Hosting(Free Domain Name)</h5>
    <a href="https://www.udemy.com/certificate/UC-c4a1a5d5-fe9f-441b-932f-d3dc6c96f05e/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
  </div>
</div>

<div class="card mb-7 animate__animated animate__fadeUp">
  <div class="card-header">
    <div class="neon"><i class="fas fa-star"></i></div>
  </div>
  <div class="card-body">
    <h5 class="animate__animated animate__fadeUp">Introduction to Domain Names and Web Hosting - Quick Guide</h5>
    <a href="https://www.udemy.com/certificate/UC-e0be2f1c-d0c9-4733-91e3-f6a7c26d7e49/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
  </div>
</div>

<div class="card mb-7 animate__animated animate__fadeUp">
  <div class="card-header">
    <div class="neon"><i class="fas fa-star"></i></div>
  </div>
  <div class="card-body">
    <h5 class="animate__animated animate__fadeUp">TCP/IP Network Configuration on Linux</h5>
    <a href="https://www.udemy.com/certificate/UC-d2fc6bbf-6093-447a-936e-28606f57780d/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
  </div>
</div>

<div class="card mb-7 animate__animated animate__fadeUp">
  <div class="card-header">
    <div class="neon"><i class="fas fa-star"></i></div>
  </div>
  <div class="card-body">
    <h5 class="animate__animated animate__fadeUp">Linux Security: SSH Connections and Encryption with GPG</h5>
    <a href="https://www.udemy.com/certificate/UC-36dc1b85-baaf-4846-8959-2f9adaff2979/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
  </div>
</div>

<div class="card mb-7 animate__animated animate__fadeUp">
  <div class="card-header">
    <div class="neon"><i class="fas fa-star"></i></div>
  </div>
  <div class="card-body">
    <h5 class="animate__animated animate__fadeUp">Secure your Linux VPS</h5>
    <a href="https://www.udemy.com/certificate/UC-54af73e5-b5b3-4ed7-8a37-e08c70960bc5/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
  </div>
</div>

<div class="card mb-7 animate__animated animate__fadeUp">
  <div class="card-header">
    <div class="neon"><i class="fas fa-star"></i></div>
  </div>
  <div class="card-body">
    <h5 class="animate__animated animate__fadeUp">Web Scraping Workshop for Python 2023</h5>
    <a href="https://www.udemy.com/certificate/UC-a924ef58-e3c6-4248-a294-06b71e22ab3f/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
  </div>
</div>

<div class="card mb-7 animate__animated animate__fadeUp">
  <div class="card-header">
    <div class="neon"><i class="fas fa-star"></i></div>
  </div>
  <div class="card-body">
    <h5 class="animate__animated animate__fadeUp">WiFi Hacking using Evil Twin Attacks and Captive Portals</h5>
    <a href="https://www.udemy.com/certificate/UC-d7cdacca-d664-4fe9-b414-e8e051e21a21/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
  </div>
</div>

<div class="card mb-7 animate__animated animate__fadeUp">
  <div class="card-header">
    <div class="neon"><i class="fas fa-star"></i></div>
  </div>
  <div class="card-body">
    <h5 class="animate__animated animate__fadeUp">How to Hack WiFi Networks for Beginners</h5>
    <a href="https://www.udemy.com/certificate/UC-71fec060-c1a5-4e8f-966c-d19cad1ff82b/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
  </div>
</div>

<div class="card mb-7 animate__animated animate__fadeUp">
  <div class="card-header">
    <div class="neon"><i class="fas fa-star"></i></div>
  </div>
  <div class="card-body">
    <h5 class="animate__animated animate__fadeUp">CPU Mining Tutorial | Mine Crypto on Free VPS | XMR SUGAR</h5>
    <a href="https://www.udemy.com/certificate/UC-feb649d4-05ae-490c-801a-87e9b76d4137/" target="_blank" rel="noopener noreferrer" class="btn btn-primary animate__animated animate__fadeUp">Ver certificado</a>
  </div>
</div>
</div>

</section>
