<section id="education">
    <!-- Educations -->
    <h2 data-aos="fade-up">Education</h2>
    <div class="row">
      <div class="card mb-7" data-aos="fade-up">
        <div class="card-header">
          <div class="neon"><i class="fas fa-star"></i></div>
        </div>
        <div class="card-body">
          <h5 data-aos="fade-up">Computer Technician</h5>
          <h6 data-aos="fade-up">CET N° 1 (formerly ENET N°1)</h6>
          <p data-aos="fade-up">Secondary Education and Computer Technician</p>
        </div>
      </div>
      <div class="card mb-7" data-aos="fade-up">
        <div class="card-header">
          <div class="neon"><i class="fas fa-star"></i></div>
        </div>
        <div class="card-body">
          <h5 data-aos="fade-up">Computer Science</h5>
          <h6 data-aos="fade-up">National University of Comahue</h6>
          <p data-aos="fade-up">
            University Education: Bachelor's degree in Computer Science
            (3rd Year - Incomplete)
          </p>
        </div>
      </div>
      <div class="card mb-7" data-aos="fade-up">
        <div class="card-header">
          <div class="neon"><i class="fas fa-star"></i></div>
        </div>
        <div class="card-body">
          <h5 data-aos="fade-up">Training Courses</h5>
          <h6 data-aos="fade-up">Udemy, Ministry of Education of Río Negro, among others</h6>
          <p data-aos="fade-up">Training Courses on Various Digital Platforms</p>
        </div>
      </div>
    </div>
  </section>
  