<section id="skills" data-animatecss="fade-up" data-animatecss-duration="1000">
  <h2 class="animate__animated animate__fadeInDown">Skills</h2>
  <div class="row">
    <div class="col-md-4" data-animatecss="fade-right">
      <h3 class="animate__animated animate__fadeInUp">Front-End Development</h3>
      <ul class="animate__animated animate__fadeIn" data-animatecss-delay="100">
        <li><i class="fab fa-html5"></i> HTML5</li>
        <li><i class="fab fa-css3"></i> CSS3</li>
        <li><i class="fab fa-js"></i> JavaScript (ES6+)</li>
        <li><i class="fab fa-jquery"></i> jQuery</li>
        <li><i class="fab fa-angular"></i> Angular</li>
        <li><i class="fab fa-bootstrap"></i> Bootstrap</li>
      </ul>
    </div>
    <div class="col-md-4" data-animatecss="fade-up">
      <h3 class="animate__animated animate__fadeInDown">Back-End Development</h3>
      <ul class="animate__animated animate__fadeIn" data-animatecss-delay="100">
        <li><i class="fab fa-java"></i> Java</li>
        <li>Spring Framework</li>
        <li>MySQL</li>
        <li>JPA/Hibernate</li>
        <li>RESTful APIs</li>
      </ul>
    </div>
    <div class="col-md-4" data-animatecss="fade-left">
      <h3 class="animate__animated animate__fadeInUp">Other Skills</h3>
      <ul class="animate__animated animate__fadeIn" data-animatecss-delay="100">
        <li><i class="fas fa-language"></i> English (Advanced)</li>
        <li><i class="fab fa-aws"></i> AWS Cloud</li>
        <li>Linux</li>
        <li>Windows</li>
        <li>Excel</li>
        <li>Apache/Tomcat</li>
        <li><i class="fab fa-git"></i> Git/GitHub</li>
      </ul>
    </div>
  </div>
</section>
