<!-- Skills section -->
<section id="skills" data-aos="fade-up" data-aos-duration="1000">
  <h2 class="aos-init aos-animate" data-aos="fade-down">Skills</h2>
  <div class="row">
    <div class="col-md-4" data-aos="fade-right">
      <h3 data-aos="fade-up">Front-End Development</h3>
      <ul data-aos="fade" data-aos-delay="100">
        <li><i class="fab fa-html5"></i> HTML5</li>
        <li><i class="fab fa-css3"></i> CSS3</li>
        <li><i class="fab fa-js"></i> JavaScript (ES6+)</li>
        <li><i class="fab fa-jquery"></i> jQuery</li>
        <li><i class="fab fa-angular"></i> Angular</li>
        <li><i class="fab fa-bootstrap"></i> Bootstrap</li>
      </ul>
    </div>
    <div class="col-md-4" data-aos="fade-up">
      <h3 data-aos="fade-down">Back-End Development</h3>
      <ul data-aos="fade" data-aos-delay="100">
        <li><i class="fab fa-java"></i> Java</li>
        <li>Spring Framework</li>
        <li>MySQL</li>
        <li>JPA/Hibernate</li>
        <li>RESTful APIs</li>
      </ul>
    </div>
    <div class="col-md-4" data-aos="fade-left">
      <h3 data-aos="fade-up">Other Skills</h3>
      <ul data-aos="fade" data-aos-delay="100">
        <li><i class="fas fa-language"></i> English (Advanced)</li>
        <li><i class="fab fa-aws"></i> AWS Cloud</li>
        <li>Linux</li>
        <li>Windows</li>
        <li>Excel</li>
        <li>Apache/Tomcat</li>
        <li><i class="fab fa-git"></i> Git/GitHub</li>
      </ul>
    </div>
  </div>
</section>

